@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*animates stuff*/
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#topo {
    background-image: url("./assets/topo-pattern.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
}

#bar {
    height: 1px;
}

.chat-log {
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.chat-log:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}
